body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', Geneva, Verdana, sans-serif;
    background-color: white;
    height: 100%;
}
.container {
    height: 100vh;
    padding: 0;
    margin-bottom: 0;
}
a {
    color: #dbcfb0ff;
}
h1 {
    padding: 15px;
    margin: 0;
    font-size: 5vw;
}
h2 {
    padding: 10px;
    margin: 0;
    font-size: 2.5vw;
    text-align: center;
}
li {
    list-style: none;
}
p {
    padding: 1.5em;
    font-size: 1.3vw;
}
.top {
    background: url(images/leavesBg.jpg); 
    background-size: cover;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    color: white;
}
.top-menu {
    width: 100%;
    height: fit-content;
}
#top-text {
    padding: 40px;
    text-align: center;
}
#spotlight {
    opacity: 1;
    width: 100%;
    height: 100%;
    pointer-events: auto;
    background: radial-gradient(circle at 50% 50%, #00000000 10px, #000000dd 250px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
span {
    color: #90b494;
}
#main-menu {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    width: 100%;
    padding: 1em 0;
    background-color: #3a4747;
    opacity: 1;
}
.menu {
    padding: 0;
    display: flex;
    justify-content: space-around;
}
#bottom {
    background: url(images/bottomBg.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#about {
    margin: 4em auto 1em;
    width: 80%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
#work {
    width: 100%;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.wrapper {
    width: 80%;
    height: 70%;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    overflow: hidden;
    position: relative;
}

.section {
    width: 100%;
    height: 100%;
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr;
    transform: translateY(100%);
    transition: transform 0.8s ease;
}
.section.show {
    transform: translateY(0);
}
.section.hide {
    transform: translateY(100%);
}
.description {
    background-color: white;
}
.image {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3a4747;
}
img {
    max-height: 80%;
    max-width: 80%;
}
video {
    width: 80%;
    aspect-ratio: 4/3;
}
@media (max-width: 768px) {
    .section {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
}